html {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  border: 0;
  background-color: var(--med-theme); 
  --pageWidth: 100vw;
  --row-hover: #2a3657;
  --dark-theme: #101724;
  --med-theme: #192130;
  --med-light-theme: #242a39;
  --main-color-accent: #5ef8ed;
  --alternate-color-accent: #BCE7FD;
  --yellow-green-button-color: #D4FB7C;
  --contact-card-font-color: rgb(198, 199, 208);
  --icon-theme: var(--med-theme);
  --profile-pic-background-color: #DEE5E7;
  --form-font-color: white;
  --form-background-color: var(--med-theme);
  --form-input-color: var(--med-light-theme);
  --input-placeholder-color: rgb(188, 188, 188);
  --grey-font: #a8a9bf; 
  --green-button-color: rgb(5, 234, 146);
  --blue-button-color: #03a9eb;
  --search-bar-color: #69737a;
  --red-accent: #fd6673;
  --reset-button-color: rgb(252, 93, 132); 
  --green-accent: rgb(48, 238, 165);
  --orange-accent: #fdc046;
  --calendar-tile-active: var(--main-color-accent); 
  --calendar-tile-hover: var(--med-light-theme);
  --calendar-tile-font: rgb(230, 229, 229);
}

body {
    display: block;
    margin: 0px;
}

/* Define some utility classes to minimise repetitive css */
.size-100 {
  height: 100%;
  width: 100%;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-c-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hovered {
  cursor: pointer;
}

/* Start of the CSS for the page elements */
.wrapper {
  min-height: 100vh;
  width: 100wh;
  border: 0;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 30px 1fr;
  overflow-y: none;
  background-color: var(--dark-theme);
}

/* Formatting the error page */
.error-container {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  height: 100%;
  width: 100%;
  background-color: var(--dark-theme);
  color: white;
}

.error-description {
  width: 550px;
  height: 375px;
  color: var(--contact-card-font-color);
}

.error-heading {
  font-weight: bold;
  font-size: 40px;
  color: var(--contact-card-font-color);
}

.error-message1, .error-message2 {
  font-size: 22px;  
}

.error-subheading {
  font-size: 32px;
}

/* Formatting for the title bar */
.titlebar {
  font-family: Arial, Helvetica, sans-serif;
  grid-row: 1;
  grid-column: 1 / -1;
  justify-content: flex-start;
  background-color: #10192c;
  app-region: drag;
}

.app-icon {
  height: 30px;
  width: 60px;
}

.menu-option {
  color: var(--grey-font);
  font-size: 13px;
  margin-left: 25px;
  user-select: none;
}
