@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
    margin: 0px;
}

#root {
  background-color: var(--med-theme-color); 
  --dark-theme-color: #101724;
  --med-theme-color: #192130;
  --med-light-theme-color: #242a39;
  --main-color-accent: #5ef8ed;
  --alternate-color-accent: #BCE7FD;
  --yellow-green-button-color: #D4FB7C;
  --grey-theme-color: #a8a9bf; 
  --grey-theme-color-light: #a8a9bf55; /* 10% opacity */
}

/******************* A CSS Reset to remove some browser presets and make CSS development a bit smoother  ***************/

/* 1. Use a more-intuitive box-sizing model instead of content-box*/
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*************** Define some utility classes to minimise repetitive css ***************/
.size-100 {
  height: 100%;
  width: 100%;
}

.centred {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centred-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hovered {
  cursor: pointer;
}

/*************** Start of the CSS for the page elements ***************/
.wrapper {
  min-height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 30px 1fr;
  overflow-y: none;
  background-color: var(--dark-theme-color);
}

/* Formatting for the title bar */
.titlebar {
  font-family: Arial, Helvetica, sans-serif;
  grid-row: 1;
  grid-column: 1 / -1;
  justify-content: flex-start;
  background-color: #10192c;
}

.app-icon {
  height: 30px;
  width: 60px;
}

.app-title {
  width: 100px;
  color: var(--grey-theme-color);
  font-size: 14px;
  font-weight: semi-bold;
  user-select: none;
}

.roboto-logo-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  font-size: 16px;
}

.main-menu {
  height: 100%;
  display: flex;
  padding: 0;
  justify-content: flex-start;
}

.menu-option {
  height: 75%;
  color: var(--grey-theme-color);
  font-size: 13px;
  margin-left: 20px;
  background-color: transparent;
  padding: 0 10px;
  border-radius: 10px;
}

.menu-option:first-child {
  margin-left: 0px;
}

.menu-option:hover, .menu-option:active, .menu-option:focus {
  background-color: var(--grey-theme-color-light);
  color: var(--grey-theme-color); 
  cursor: pointer;
}

/*************** Formatting the error page ***************/
.error-container {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  height: 100%;
  width: 100%;
  background-color: var(--dark-theme-color);
  color: white;
}

.error-description {
  width: 550px;
  height: 375px;
  color: var(--contact-card-font-color);
}

.error-heading {
  font-weight: bold;
  font-size: 40px;
  color: var(--contact-card-font-color);
}

.error-message1, .error-message2 {
  font-size: 22px;  
}

.error-subheading {
  font-size: 32px;
}

